@{
    ViewData["Title"] = "All Trips";
}

<!-- PAGE BANNER -->
<section class="inner-banner"
         style="background-image:url('https://images.unsplash.com/photo-1524492412937-b28074a5d7da?q=80&w=1600');">
    <h1>All Trips</h1>
    <p>Explore our best travel experiences</p>
</section>

<!-- TRIP CARDS -->
<section class="container my-5">
    <div class="row g-4">

        <!-- CARD 1 -->
        <div class="col-md-4">
            <div class="trip-card">
                <img src="https://images.unsplash.com/photo-1501785888041-af3ef285b470?q=80&w=1600">
                <div class="trip-body">
                    <h5>Japan</h5>
                    <p>7 Days / 6 Nights</p>
                    <a href="#" class="btn btn-orange">View More</a>
                </div>
            </div>
        </div>

        <!-- CARD 2 -->
        <div class="col-md-4">
            <div class="trip-card">
                <img src="https://images.unsplash.com/photo-1548013146-72479768bada?q=80&w=1600">
                <div class="trip-body">
                    <h5>South Africa</h5>
                    <p>8 Days / 7 Nights</p>
                    <a href="#" class="btn btn-orange">View More</a>
                </div>
            </div>
        </div>

        <!-- CARD 3 -->
        <div class="col-md-4">
            <div class="trip-card">
                <img src="https://images.unsplash.com/photo-1526772662000-3f88f10405ff?q=80&w=1600">
                <div class="trip-body">
                    <h5>Thailand</h5>
                    <p>5 Days / 4 Nights</p>
                    <a href="#" class="btn btn-orange">View More</a>
                </div>
            </div>
        </div>

        <!-- CARD 4 -->
        <div class="col-md-4">
            <div class="trip-card">
                <img src="https://images.unsplash.com/photo-1552465011-b4e21bf6e79a?q=80&w=1600">
                <div class="trip-body">
                    <h5>Kashmir</h5>
                    <p>6 Days / 5 Nights</p>
                    <a href="#" class="btn btn-orange">View More</a>
                </div>
            </div>
        </div>

        <!-- CARD 5 -->
        <div class="col-md-4">
            <div class="trip-card">
                <img src="https://th.bing.com/th/id/R.12289b003070179f608ee596b88f16cd?rik=KkEqXpZkrBhmtw&riu=http%3a%2f%2fcontendingmodernities.nd.edu%2fwp-content%2fuploads%2f2024%2f04%2fPran_Pratishtha_ceremony_of_Shree_Ram_Janmaboomi_Temple_in_Ayodhya_Uttar_Pradesh_on_January_22_2024.jpg&ehk=1339HuCeXQtZ2ZPESVMny08p6%2fCIlUwKcfEsWMnjDGY%3d&risl=&pid=ImgRaw&r=0">
                <div class="trip-body">
                    <h5>Ayodhya</h5>
                    <p>3 Days / 2 Nights</p>
                    <a href="#" class="btn btn-orange">View More</a>
                </div>
            </div>
        </div>

        <!-- CARD 6 -->
        <div class="col-md-4">
            <div class="trip-card">
                <img src="https://images.unsplash.com/photo-1588072432836-e10032774350?q=80&w=1600">
                <div class="trip-body">
                    <h5>Puri</h5>
                    <p>4 Days / 3 Nights</p>
                    <a href="#" class="btn btn-orange">View More</a>
                </div>
            </div>
        </div>

    </div>
</section>
